<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<style>
    .form {
        display: table;
    }

    /* .form {
        display: table-row;
    } */

    label,
    input {
        display: table-cell;
        margin-bottom: 10px;
    }

    label {
        padding-right: 10px;
    }
</style>

<body>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <div>
        <a href="{% url 'home' %}">Go Back</a>
    </div>
</body>

</html>
